@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/Kaushanscript.woff") format("woff"),
    url("../fonts/Kaushanscript.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}